[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==0.24.2"
flask = "*"
holidays = "*"
xgboost = "==1.5.0"
pandas  = "==1.4.2"

[dev-packages]

[requires]
python_version = "3.9"
